{% extends 'catalog/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    <meta charset="UTF-8">
    <title>{% trans "History buy" %}</title>
{% endblock %}
{% block css_add %}
    <link rel="stylesheet" href="{% static 'media/css/history.css' %}" />
{% endblock %}

{% block content %}
<br><br><br><br>
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <h2>{% trans "Purchase history" %}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
<hr>
<div class="coverlistinfo">
    <div class="col-md-12">
        <div class="filters-content">
            <div class="row grid">
                {% for offer in offers %}
                    <div class="col-lg-4 col-md-4 all des">
                        <div class="product-item">
                        {% if offer.type.name == 'Image' %}
                            <div class="cover-basket">
                                <a href={% url 'cover_detail' offer.cover.id %}><h3>{{ offer.name }}</h3></a>
                                <p>{% trans "Description" %}: {{ offer.description|truncatechars:20 }}</p>
                                <p>{% trans "Type" %}: {{ offer.type }}</p>
                                <p>{% trans "Price" %}: {{ offer.price }}$</p>
                            </div>
                        {% endif %}
                        {% if offer.type.name == 'Music' %}
                            <div class="music-basket">
                                <a href={% url 'music_detail' offer.music.id %}><h3>{{ offer.name }}</h3></a>
                                <p>{% trans "Description" %}: {{ offer.description|truncatechars:20 }}</p>
                                <p>{% trans "Type" %}: {{ offer.type }}</p>
                                <p>{% trans "Price" %}: {{ offer.price }}</p>
                            </div>
                        {% endif %}
                        {% if offer.type.name == 'Text' %}
                            <div class="text-basket">
                                <a href={% url 'text_detail' offer.text.id %}><h3>{{ offer.name }}</h3></a>
                                <p>{% trans "Description" %}: {{ offer.description|truncatechars:20 }}</p>
                                <p>{% trans "Price" %}: {{ offer.price }}</p>
                                <p>{% trans "Type" %}: {{ offer.type }}</p>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                <li class="page-num">
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}